# client stuff
client/node_modules
client/dist

# backend stuff
backend/node_modules
backend/.env

backend/services/auth-service/node_modules
backend/services/auth-service/.env
backend/services/auth-service/src/config/env.js

backend/services/order-service/node_modules
backend/services/order-service/.env
backend/services/order-service/src/config/env.js

backend/services/payment-service/node_modules
backend/services/payment-service/.env
backend/services/payment-service/src/config/env.js

backend/generated/prisma

backend/npm-debug.log*
backend/yarn-debug.log*
backend/pnpm-debug.log*
.env.*

# OS
.DS_Store
Thumbs.db


