.hotel-card {
  height: 180px;
  width: 260px;
  margin-top: 10px;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.hotel-img {
  flex: 1;
  min-height: 120px;
}

.hotel-img img {
  border-radius: 10px 10px 0 0; /* rounded only top corners */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel-info {
  /* background-color: pink; */
  display: flex;
  flex-direction: column;
  gap: 2px;
  padding: 15px;
}

.hotel-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hotel-title,
.hotel-location {
  margin: 0;
}

.hotel-location {
  color: #767f8f;
  font-size: 15px;
}
